@page "{id:min(1)}"
@model LearningAboutTheIdentityClass.Pages.Employees.DeleteModel
@{
    ViewData["Title"] = "Delete Existing Employee";
}
<div class="alert alert-danger alert-dismissible mt-2">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Delete existing employee
</div>

<h2 class="text-info">
    Delete
</h2>
<hr />
<h3>Delete Confirmation</h3>
<div class="alert alert-danger  m-2">
    <h5>
        Are you sure you want to Delete employee @Model.Employee.Name?
    </h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a asp-page="/Employees/Index" class="btn btn-primary">No</a>
    </form>
</div>