@inject SignInManager<IdentityUser> _signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearningAboutTheIdentityClass</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm sticky-top">
            <a asp-page="/Index" class="navbar-brand">
                <img src="~/images/customImage.jpg" class="rounded-circle" style="width:30px;" />
                LearningAboutTheIdentityClass
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#div">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="div">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-page="/Index" class="nav-link text-white">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Privacy" class="nav-link text-white">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Employees/Index" class="nav-link text-white">Employees</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (_signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-page="/Register/Index" asp-page-handler="LogOut">
                                <button class="nav-link btn py-0 btn-link" type="submit">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-page="/Register/Index" class="nav-link text-white">Register</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Login/Index" class="nav-link text-white">Login</a>
                        </li>
                    }


                </ul>
            </div>
        </nav>


        <div>
            @RenderBody()
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - LearningAboutTheIdentityClass - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>

